# Node modules
node_modules/

# Frontend build
dist/
build/
.next/
out/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
*.log

# Visual Studio / VS Code
.vs/
.vscode/

# .NET build folders
bin/
obj/

# User-specific files
*.user
*.suo

# OS files
.DS_Store
Thumbs.db